<li class="deck <%= deck.public? ? 'public' : 'private' %>" >
  <div class='icon'>
    <%= icon_tag(deck.icon) %>
  </div>
  <div class='left'>
    <h3><%= link_to(deck.name, deck_path(deck)) %></h3>  
    <%= p(deck.description) unless deck.description.empty? %>
  
    <p class='note'>
      <%= pluralized_amount('card', deck.cards.size).capitalize %> 
        <%= deck.cards.size == 1 ? 'is' : 'are' %> in this deck.
    </p>
  
    <%= p("tags: #{deck.tag_list}", :class => 'tags') unless deck.tag_list.empty? %>
  </div>
  <div style='clear:both'></div>
</li>